
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">

    <title>刘谙忆</title>
    
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

    <style>
      
		h1 
		{
		  font-family: Galada, Monospace;
		}

		h3 
		{
		  font-family: Rakkas, Monospace;
		}

		h4 
		{
		  font-family: Fjalla One, Monospace;
		}

		body {
		  margin-top: 10px;
		  margin-left: 10px;
		  margin-right: 10px;
		  background-color:lightyellow;
		  font-family:Monospace;
		}

		.img_background
		{
		  background-color:black
		}






    </style>

    <script>
		window.console = window.console || function(t) {};
	</script>

    
    
  </head>

  <body translate="no" >

    <link href="https://fonts.googleapis.com/css?family=Galada|Pacifico|Rakkas|Fjalla One" rel="stylesheet" type="text/css">
	
	<div class = "container-fluid well">
	  <div class = "row">
		<div class = "col-xs-12" id = "content">
		  <h1 class = "text-center">刘谙忆</h1>
		  <h3 class = "text-center">刘谙忆 - Nemo</h4>
		  <div class = "container img_background">
				 <img class = "img-responsive" src="{{ url_for('static', filename='116.jpg') }}">
				 <h4 class = "text-primary text-center">刘谙忆 (October 17, 2018 – ) was my daughter.</h4>
		  </div>
		  <div class = "container">
		  <h4>Life and career:</h4>
		  <ul>
			<li><b>2018.10.19:</b> Birthday </li>
			<li><b>2019.6.15:</b> <a href="{{ url_for('static', filename='615.jpg') }}" target="_blank">爬行比赛冠军</a> </li>
			<li><b>2019.12.9:</b> <a href="{{ url_for('static', filename='129.jpg') }}" target="_blank">第一次脱手潜水成功</a> </li>
		  </ul>
			<blockquote>
					  <p>"愿你一生温暖纯良，不舍爱与自由！"</p>
					  <footer><cite>by Dad</cite></footer>
			 </blockquote>
			<h4>If you have time, you should read more about this incredible human being on his <a href="https://en.wikipedia.org/wiki/Michael_Jackson" target="_blank">Wikipedia entry</a>.</h4>
		  </div>  
		</div>
	  </div>
	</div>
    
	<footer class = "text-center">Written and coded by <a href="https://www.freecodecamp.com/breakpoint1025" target="_blank">Colin Liu</a></footer>
    
	<script>
	  if (document.location.search.match(/type=embed/gi)) {
		window.parent.postMessage("resize", "*");
	  }
	</script>

  </body>
</html>
 
